#breadcrumbs{
    border: none;
}

#header {
    border:none;
}

#question {
    font-size: xx-large;
    border:none;
}

#options {
    font-size: regular;
    border:none;
}

#harvard{
    border:none;
}