body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

nav {
  padding-left: 1em;
  font-weight: bold;
}

main {
  overflow: hidden;
  position: relative;
  flex: 1 0 auto;
}

#breadcrumbs {
  border: none;
}

#header {
  border: none;
}

#question {
  font-size: xx-large;
  font-style: italic;
  border: none;
}

#options {
  border: none;
}

.bigbox {
  position: relative;
}

.footer-copyright {
  border: none;
  padding: .5em;
  width: 100vw;
}

.ghost {
  opacity: 0;
  display: none;
}

/* Slide animations */

.slide-left.fade-out{
  position: relative;
  animation: slide-to-left 1000ms, fade-out 800ms forwards;
  position: absolute; /* make it take up no space */
  left: 15%;  /* center div is 70% wide */
}

.slide-right.fade-out{
  position: relative;
  animation: slide-to-right 1000ms, fade-out 800ms forwards;
  position: absolute; /* make it take up no space */
  left: 15%;  /* center div is 70% wide */
}

.slide-left.fade-in{
  position: relative;
  animation: slide-from-left 1000ms, fade-in 800ms forwards;
}

.slide-right.fade-in{
  position: relative;
  animation: slide-from-right 1000ms, fade-in 800ms forwards;
}


@keyframes slide-to-left {
  from {left: 0px;}
  to {left: -100%;}
}

@keyframes slide-to-right {
  from {left: 0px;}
  to {left: 100%;}
}

@keyframes slide-from-left {
  from {left: -100%;}
  to {left: 0px;}
}

@keyframes slide-from-right {
  from {left: 600px;}
  to {left: 0px;}
}

@keyframes fade-in {
  from {opacity: 0;}
  to {opacity: 1;}
}
  
@keyframes fade-out {
  from {opacity: 1;}
  to {opacity: 0;}
}